<phpunit
    bootstrap="bootstrap.php"
    strict="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    mapTestClassNameToCoveredClassName="true"
    verbose="true"
    colors="true"
    timeoutForSmallTests="60"
>
    <testsuites>
        <testsuite>
            <directory>suite</directory>
        </testsuite>
    </testsuites>
</phpunit>
